.table-tab {
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 0 0;
  border: thin solid lightgrey;
  text-decoration: none;
  color: #000;
}

.table-tab:hover {
  background-color: lightgreen;
}

.table-tab.active {
  position: relative;
  border: 1px solid grey;
  padding: 15px 40px 10px;
  border-bottom: 1px solid lightgreen;
}

.table-tab.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  height: 3px;
  background-color: lightgreen; 
}

